body {
  margin: 0;
  font-family: "Be Vietnam Pro", sans-serif;
  max-width: 1440px;
}

:root {
  font-size: 16px;
  --rojo-brillante: rgb(242, 95, 58);
  --rojo-palido: rgb(255, 239, 234);
  --azul-oscuro: rgb(35, 44, 81);
  --azul-muy-oscuro: rgb(29, 30, 37);
  --azul-grisaseo: rgb(143, 148, 167);
  --gris-claro: rgb(249, 249, 249);
  --blanco: #ffffff;
  --gris-oscuro: #1e1e26;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 65px 165px 0 165px;
}
.logo {
  max-height: 24px;
}

nav span {
  margin: 0 10px;
}
.slide {
  display: flex;
  justify-content: space-between;
  padding: 65px 120px 0 165px;
  align-items: center;
}
.promo1 {
  max-width: 439px;
}
.promo-imagen img {
  max-width: 400px;
}
h1 {
  font-size: 3.4rem;
  color: var(--azul-oscuro);
  letter-spacing: -3px;
}
h2 {
  font-size: 2em;
  color: var(--azul-oscuro);
  letter-spacing: -1px;
  margin: 0;
}
h3 {
  font-size: 1em;
  color: var(--azul-oscuro);
  margin: 0;
}
p {
  color: var(--azul-grisaseo);
  font-size: 0.9rem;
}

.main-button {
  background-color: var(--rojo-brillante);
  color: var(--blanco);
  border: none;
  border-radius: 50px;
  height: 45px;
  padding: 10px;
  text-decoration: none;
  width: 134px;
}

.secondary-button {
  background-color: var(--blanco);
  color: var(--rojo-brillante);
  border: none;
  border-radius: 50px;
  height: 45px;
  padding: 10px;
  text-decoration: none;
  width: 134px;
}

.central {
  display: flex;
  justify-content: space-between;
  padding: 65px 165px 0 165px;
}
.sobre-nosotros {
  max-width: 50%;
}
.descripcion {
  max-width: 400px;
  display: flex;
  margin-bottom: 30px;
}
.numeros {
  background-color: var(--rojo-brillante);
  border: none;
  border-radius: 50px;
  color: var(--blanco);
  text-decoration: none;
  margin-right: 23px;
  max-height: 43px;
  padding: 10px 25px;
}
.articulos {
}
.recomendaciones {
  text-align: center;
  padding: 0 71px;
}

.personajes {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--gris-claro);
  margin: 109px 0 57px 0;
  padding: 0 21px;
}
.personajes img {
  max-width: 70px;
  margin: -30px 0 21px 0;
}

.testimonios {
  display: flex;
}
.avatar {
  display: flex;
  max-width: 445px;
  max-height: 219px;
  background: #fafafa;
  text-align: center;
}
.foto {
}

.naranja {
  display: flex;
  background-color: var(--rojo-brillante);
  margin-top: 180px;
  padding: 64px 165px;
  justify-content: space-between;
}

.naranja h2 {
  color: var(--blanco);
  max-width: 438px;
}
footer {
  background-color: var(--gris-oscuro);
  display: flex;
  padding: 50px 164px;
  justify-content: space-between;
}
.redes {
  display: flex;
  justify-content: space-between;
}
.menu-footer {
  color: var(--blanco);
}
.menu-footer li {
  list-style: none;
}
input {
  background-color: var(--blanco);
  color: var(--rojo-brillante);
  border: none;
  border-radius: 50px;
  height: 45px;
  padding: 10px;
  text-decoration: none;
  margin-right: 9px;
}
form {
  display: flex;
  justify-content: space-between;
}
form .main-button {
  width: 63px;
}
